.m-w-popup-label {
    max-width: initial;
}
.max-width20 {
	max-width: 50px;
}
.popup input[type=text] {
    min-width: 80px !important;
}
#contain-name {
	position: absolute; 
	top: 4px; 
	display: flex; 
	padding-left: 7px;
}
/*for IE*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
   #contain-name {
	position: static;
}