.col-md-1-cus {
	width: 12%;
}
.w-40px {
	width: 40px;
}

@media screen and (max-width: 1280px) and (min-width: 1025px){
	.table-master-tab2 {
		padding-left: 15px !important;
	}
}
.max-width30{
	max-width: 200px;
}