.col-md-1-cus {
	width: 12%;
}
.w-40px {
	width: 40px;
}
table.table.table-total tr td {
    border-top: none;
    padding: 5px 0;
}
label.text-info-purchase {
    width: 230px;
}
.max-width20{
	max-width: 20px;
}
input[type=text].TXT_parts_cd {
    min-width: 40px !important;
}
.error-numeric {
    background-color: #F697A3 !important;
    border: 1px solid red !important;
}