.max-width50 {
  max-width: 150px;
}
.padding-40{
	padding-left: 40px !important;
	padding-right: 40px !important;
}
.padding-30{
	padding-left: 30px !important;
	padding-right: 30px !important;
}
.padding-25{
	padding-left: 25px !important;
	padding-right: 25px !important;
}